<p id="notice"><% notice %></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>User info</h1>
      <!--エラー表示-->
      <%= render 'books/error_messages', model: @user %>
      <%= form_with model: @user do |f| %>
      <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :profile_image, "image" %>
        <%= f.file_field :profile_image, accept: "image/*" %>
      </div>
      <div class="form-group">
          <%= f.label :introduction %>
          <%= f.text_area :introduction, class: "form-control" %>
      </div>
      <div class="submit">
        <%= f.submit 'Update user' %>
      </div>
      <% end %>
    </div>
  </div>
</div>


