<div class="col-md-3">
      <h2>User info</h2>
      <!-- image_tag user.get_profile_image(100,100) こっちにしたい-->
      <% if user.profile_image.attached? %>
        <%= image_tag user.profile_image, size: "100x100" %>
      <% else %>
        <%= image_tag 'default-image', size: "100x100" %>
      <% end %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th>
              <th><%= info_name %></th>
          </tr>
          <tr>
            <th>introduction</th>
              <th><%= info_intro %></th>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <a class="btn btn-outline-secondary btn-block" href="/users/<%= user.id %>/edit"><i class="fas fa-user-cog"></i></a>
      </div>
      <h2 class="mt-3">New book</h2>
      <%= form_with model: book do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :body, "Opinion" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="submit form-group">
          <%= f.submit 'Create Book', class: "btn btn-success" %>
        </div>
      <% end %>
    </div>