<p id="notice"><% notice %></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <!--エラー表示-->
      <%= render 'error_messages', model: @book %>
      <!--book情報editフォーム-->
      <%= form_with model: @book do |f| %>
      <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :body, "Opinion" %>
          <%= f.text_area :body, class: "form-control" %>
      </div>
      <div class="submit form-group">
        <%= f.submit 'Update Book' %>
      </div>
      <% end %>
      <%= link_to "Show", book_path(@book.id) %>
      |
      <%= link_to "Back", books_path %>
    </div>
  </div>
</div>
